<table class="table"> 
  <thead> 
  	<tr> 
		<th>ID</th>
  		<th>Email</th>
		<th>Name</th>
		<th>Admin</th>
  	</tr> 
  </thead> 
  <tbody> 
  	<tr> 
		<% @users.each do |user| %>
		<td><%= user.id %></td>		
		<td><%= user.email %></td>
		<td><%= user.name %></td>
		<td><%= user.admin %></td>
	</tr>
		<% end %>
  </tbody>

</table>