<% if !user_signed_in? %>
	<% content_for :top_content do %>
	  <div class="jumbotron" class="center">
	    <div class="container">
	      <h1>Welcome to Penn United Technolgies Ticket System!</h1>
	      <p>Register to get started.</p>
	      <p>
		<%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
		<%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary btn-lg' %>
	      </p>
	    </div>
	  </div>
	<% end %>
<% else %>
	Welcome Back! <%= current_user.name %>
<% end %>