<h1>New Feedback</h1>

<div>Please leave any feedback you wish about our ticket system. This does not collect your name or email address. Everything is strictly private and for feed back purposes only to improve our site.</div>

<%= render 'form' %>

