/*
 *= require jquery-ui
*/

@import "bootstrap-sprockets";
@import "bootstrap";

textarea {
	min-width: 500px;
	min-height: 300px;
}

.textfield {
	min-width: 500px;
	min-height: 50x;
}

#ticket_assigned_to {
	min-width: 500px;
}

#ticket_level {
	min-width: 500px;
}

#user_email {
	min-width: 500px;
}

#user_name {
	min-width: 500px;
}

#user_admin {
	min-width: 500px;
}

#user_password {
	min-width: 500px;
}

#user_password_confirmation {
	min-width: 500px;
}

#user_current_password {
	min-width: 500px;
}
